<div id = "edit-form" style="display:none;">
        <div class="larg">
        <div><h3 id="player-edit">Player<span class="entypo-down-open"></span></h3>
            <div id = "form-edit-player" style="display:none;">
                <select id='select-1'class="form-control">
                    <option>PlayerName</option>
                    <option>GameName</option>
                </select>
                <form class="form-inline">
                    <input id="search-input-player-edit" type="text" placeholder="Search PlayerID">
                    <button id = "search-button" type="button" class="btn btn-inverse">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <div id = "menu-edit" style="display:none; border: 0px ;">
                    <label fclass="padding-form control-label">Player Name</label>
                    <input type="text"   id="player-name" class="padding-form form-control"/>
                    <label style="padding-top:10px;">Game Name</label>
                    <input type="email"  id="game-name" class="padding-form form-control"/>
                    <label style="padding-top:10px;">MMR</label>
                    <input type="text"  id="mmr"  class="padding-form form-control" />
                    <label style="padding-top:10px;">Nation</label>
                    <input type="text"  id="nation"  class="padding-form form-control" />
                    <label style="padding-top:10px;">Winrate</label>
                    <input type="text"  id="winrate"  class="padding-form form-control" />
                    <label style="padding-top:10px;">Server</label>
                    <select style="padding-bottom:10px;"class="form-control">
                        <option value = 1>Sea & Oceania</option>
                        <option value = 2>Europe & CIS</option>
                        <option value = 3>Americas</option>
                        <option value = 4>China</option>
                    </select>
                    <button style="margin-top:10px;margin-bottom:10px;" id="submit-edit" class="btn btn-success">EDIT</button>
                </div>
        </div>
        </div>
        <div><h3 id="team-edit">Team<span class="entypo-down-open"></span></h3>
            <div id = "form-edit-team" style="display:none;">
                <select id='select-1' class="form-control">
                        <option>TeamName</option>
                        <option>TeamsubName</option>
                </select>
                <form class="form-inline">
                    <input id="search-input-team-edit" type="text" placeholder="Search PlayerID">
                    <button id = "search-button" type="button" class="btn btn-inverse">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <div id = "menu-edit" style="display:none; border: 0px ;">
                    <label fclass="padding-form control-label">Team Name</label>
                    <input type="text"   id="team-name" class="padding-form form-control"/>
                    <label style="padding-top:10px;">Sub Name</label>
                    <input type="email"  id="sub-name" class="padding-form form-control"/>
                    <label style="padding-top:10px;">Rating</label>
                    <input type="text"  id="rating"  class="padding-form form-control" />
                    <label style="padding-top:10px;">Nation</label>
                    <input type="text"  id="nation"  class="padding-form form-control" />
                    <label style="padding-top:10px;">Server</label>
                    <select style="padding-bottom:10px;"class="form-control">
                        <option value = 1>Sea & Oceania</option>
                        <option value = 2>Europe & CIS</option>
                        <option value = 3>Americas</option>
                        <option value = 4>China</option>
                    </select>
                    <button style="margin-top:10px;margin-bottom:10px;" id="submit-edit" class="btn btn-success">EDIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
