<div id = "delete-player" style="display:none;">
       <form class="form-inline">
        <div><label>Remove Player</label></div>
        <div><label>Player Name</label><input class="form-control" id="player-name"> </div>
        <div><label>Game Name</label><input class="form-control" id="game-name"></div>
        <div><label>ID</label><input class="form-control" id="player-id"></div>
    </form>    
    <button id= "submit">SUBMIT</button>
</div>  