<div id = "remove-form" style="display:none;">
    <div class="larg">
        <div><h3 id="player-remove">Player<span class="entypo-down-open"></span></h3>
            <div id = "form-remove-player" style="display:none; border: 0px;">
                <form >
                    <input id="search-input-player" type="text" placeholder="Search player" style = "color : black;height:40px">
                    <button id = "search-button" type="button" class="btn btn-inverse">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <div class="player-menu" style="display: none;">
                    <% include ../player-card/player-card.ejs %>
                    <button id= "submit-delete">DELETE</button>
                </div>
            </div>
        </div>

        <div><h3 id="team-remove">Team<span class="entypo-down-open"></span></h3>
            <div id = "form-remove-team" style="display:none;  border: 0px;">
                <form class="form-inline">
                    <input id="search-input-team" type="text" placeholder="Search team" style = "color : black;height:40px">
                    <button id = "search-button" type="button" class="btn btn-inverse">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <div class="team-menu" style="display: none;">
                    <% include ../team-card/team-card.ejs %>
                    <button id= "submit-delete">DELETE</button>
                </div>

            </div>
        </div>



        </div>


</div>
