<div id = "table-form" style="display:none;">
    <select style="padding-bottom:10px;"class="form-control">
        <option value = 1>Sea & Oceania</option>
        <option value = 2>Europe & CIS</option>
        <option value = 3>Americas</option>
        <option value = 4>China</option>
    </select>
</div>
