<div id = "table-form" style="display:none;">
    <div class="larg">
        <select id = "form-table"style="padding-bottom:10px;" class="form-control">
            <option value = 1>Team</option>
            <option value = 2>Player</option>
            <option value = 3>Hero</option>
            <option value = 4>China</option>
        </select>
        <br/>
        <table id = "table-query" class="table table-bordered">
        </table>
    </div>
</div>
