<html lang="en">
<head>
  <title>Facelespedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style_dashboard.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Cuprum" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascript/data.js"></script>
  <link rel="stylesheet" href="/css/style_search.css">
  <script src="/javascript/jquery.easy-autocomplete.min.js"></script>
  <link rel="stylesheet" href="/css/easy-autocomplete0.themes.min.css">
  <link rel="stylesheet" href="/css/easy-autocomplete0.min.css">

</head>
<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      <li id="add">
        <a>Add</a>
      </li>
      <li id="remove">
        <a>Remove</a>
      </li>
      <li>
        <a id="edit">Edit</a>
      </li>
      <li>
        <a id="search">Search</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2></h2>
    <label>ADMIN</label>
  </div>
    <% include dashboard/add.ejs %>
    <% include dashboard/remove.ejs %>
</main>
    <% include function/dashboard/function_dash.ejs %>
    <% include function/dashboard/function_add.ejs %>
    <% include function/dashboard/function_remove.ejs %>
    <% include function/function_player-card.ejs %>
</html>
