<html lang="en">
<head>
  <title>Facelespedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style_dashboard.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/javascript/data.js"></script>
</head>
<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      <li>
        <a id="player">Player</a>
      </li>
      <li>
        <a id=team>Team</a>
      </li>
      <!--<li>
        <a href="javascript:void(0);" data-title="Diary">Diary</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Settings">Settings</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Search">Search</a>
      </li>-->
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>Projects</h2>
    <a>Hello Bob !</a>
  </div>
    <div id = "insert-player" style="display:none;">
        <form class="form-inline">
            <div><label>Insert Player</label></div>
            <div><label>Player Name</label><input class="form-control" id="player-name"> </div>
            <div><label>Game Name</label><input class="form-control" id="game-name"></div>
            <div><label>MMR</label><input class="form-control" id="mmr"></div>
            <div><label>Nation</label><input class="form-control" id="nation"></div>
            <div><label>Winrate</label><input class="form-control" id="winrate"></div>
        </form>    
        <button id= "submit">SUBMIT</button>
    </div>
    <div id = "delete-player" style="display:none;">
        <h1>TEST</h1>
    </div>    
</main>
<script>

    $('#player').click(function(){
        $('#insert-player').show();
        $('#delete-player').hide();
    });
    $('#team').click(function(){
        $('#insert-player').hide();
        $('#delete-player').show();
    });

    $('#submit').click(function(){
          if ($('#player-name').val().length == 0 || $('#game-name').val().length == 0 || $('#mmr').val().length == 0 || $('#nation').val().length == 0 || $('#winrate').val().length == 0) {
              console.log($('#player-name').is(":empty"));
          }else {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/database/postPlayer",
                    data: "PlayerID=" + (getPlayer.Player.length +1) +
                          "&PlayerName=" + $('#player-name').val() + 
                          "&GameName="  + $('#game-name').val() +
                          "&MMR=" + $('#mmr').val() +
                          "&Nation=" + $('#nation').val() +
                          "&Winrate=" + $('#winrate').val(),
                    success: function(data) {
                        alert("sucess");
                    }
                });
          }
    });

</script>
</html>