<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facelespedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Cuprum" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style_nav.css">
  <link rel="stylesheet" href="/css/style_team.css">
  <link rel="stylesheet" href="/css/style_player.css">
  <link rel="stylesheet" href="/css/style_stats.css">
</head>
  <% include data/get_server.ejs %>
  <% include landing/landing_navbar.ejs %>

  <div class="banner">
  </div>

  <div id="nav-team"></div>
  <div id="team-rank" class="container">
    <% include landing/landing_team-rank.ejs %>
  </div>
  <div id="nav-player"></div>
  <div id="player-rank" class="container">
    <% include landing/landing_player-rank.ejs %>
  </div>

  <div id="nav-stats"></div>
  <div id="stats" class="container">
    <% include landing/landing_stat.ejs %>
  </div>

 
  <% include function/function_landing.ejs %>
  <% include function/function_team.ejs %>
  <% include function/function_player.ejs %>
  <% include function/function_team-card.ejs %>
  <% include function/function_player-card.ejs %>
  <% include function/function_stats.ejs %>
</body>
</html>
