#stats {
      background-color: #1E1D1D;
    background-size: cover;
    padding-bottom: 600px;
    color:whitesmoke;
}
.head-stats {
    padding-top: 30px;
}

#stats-hero tr td label {
    margin-left: 20px;
    font-size: 12px;
}

#stats-hero tr td {
    border-bottom: 1px solid #ddd;
}

#stats-hero {
    margin-left: 20px;
}

#stats-hero tr td h4{
    margin-left: 10px;
}
#stats-hero tr td .progress{
    position: relative;
    margin-left: 10px;
    height: 20px;
}
#stats-hero tr td .progress span{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
#stats-hero-winrate tr td img{
   margin-bottom: 15px;
   height: 40px;
   width: 40px;
}
