#stats {
    background-color: #333333;
    background-size: cover;
    padding-bottom: 600px;
    color:whitesmoke;
}
.head-stats {
    padding-top: 30px;
}

#stats-hero tr td h4{
    margin-left: 20px;
}

#stats-hero {
    margin-left: 20px;
}

#stats-hero tr td h4{
    margin-left: 20px;
}
#stats-hero tr td .progress{
    margin-left: 20px;
}
