#team-rank {
    background-color: #1E1D1D;
    background-size: cover;
    padding-bottom: 35px;
    color:whitesmoke;
}
#team-rank .team-scroll{
    height: 442px;
    overflow: auto;
}
.head-team-rank {
    padding-top: 40px;
}
.body-team-rank {
    padding-top: 20px;
    border: 0px;
}
#team-rank .table label {
    text-align: center;
    color: whitesmoke;
}
.team-menu {
    margin-left: 100px;
    padding-top: 30px;

}
#team-rank .table label img {
    border: 1px solid;
    border-color: black;
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
}
#team-card-data {
    margin-left: 0px;
    margin-top: 0px;
    color: whitesmoke;
}
.media-body {
    color: whitesmoke;
}
#team-card-data tr {
    margin-top: 30px;
}
#team-card-data tr td img{

    border: 1px solid;
    border-color: whitesmoke;
    margin-bottom: 10px;
    width:60px;
    height:35px;
}

#team-rank .table tr:hover {
    background-color: whitesmoke;
}

#team-rank .table tr:hover label{
    color: black;
}

.margin-top-roster{
  margin-top: 25px;
}


.margin-left-roster{
  margin-right: 400px;
}

