#team-rank {
    background-color: #333333;
    background-size: cover;
    padding-bottom: 50px;
    color:whitesmoke;
}
#team-rank .team-scroll{
    height: 442px;
    overflow: auto;
}
.head-team-rank {
    padding-top: 30px;
}
.body-team-rank {
    padding-top: 20px;
    border: 0px;
}
#team-rank .table label {
    text-align: center;
    color: whitesmoke;
}
.team-menu {
    padding-top: 30px;
    
}
#team-rank .table label img {
    border: 1px solid;
    border-color: black;
    width: 20px;
    height: 18px;
    margin-bottom: 4px;
}
#team-card-data {
    margin-left: 20px;
    margin-top: 30px;
    color: whitesmoke;
}
.media-body {
    color: whitesmoke;
}
#team-card-data tr td img{
    border: 1px solid;
    border-color: black;
    margin-bottom: 20px;
    width:80px;
    height:50px;
}

#team-rank .table tr:hover {
    background-color: whitesmoke;
}
#team-rank .table tr:hover label{
    color: black;
}
