<script>



// $(document).ready(function(){


    var stats_table,getStats;

     SelectStats("Winratepercent",10,'stats-hero-winrate');
     SelectStats("PercentPick",10,'stats-hero-most_picked');
     SelectStats("PercentContest",10,'stats-hero-most_contest');
     SelectStats("PercentBanned",10,'stats-hero-most_ban');
     SelectStats("PercentFirstPick",10,'stats-hero-most_firstpick');
     SelectStats("PercentFirstBanned",10,'stats-hero-most_firstban');

    $('#show-all_winrate').click(function() {
        $('#close').show();
        SelectStats("Winratepercent",0,'stats-hero-winrate');
        document.getElementById('close_winrate').style="display block";
    });

    $('#show-all_most_picked').click(function() {
        $('#close').show();
        SelectStats("PercentPick",0,'stats-hero-most_picked');
        document.getElementById('close_most_picked').style="display block";
    });

    $('#show-all_most_contest').click(function() {
        $('#close').show();
        SelectStats("PercentContest",0,'stats-hero-most_contest');
        document.getElementById('close_most_contest').style="display block";
    });

    $('#show-all_most_ban').click(function() {
        $('#close').show();
        SelectStats("PercentBanned",0,'stats-hero-most_ban');
        document.getElementById('close_most_ban').style="display block";
    });

    $('#show-all_most_firstpick').click(function() {
        $('#close').show();
        SelectStats("PercentFirstPick",0,'stats-hero-most_firstpick');
        document.getElementById('close_most_firstpick').style="display block";
    });

    $('#show-all_most_firstban').click(function() {
        $('#close').show();
        SelectStats("PercentFirstBanned",0,'stats-hero-most_firstban');
        document.getElementById('close_most_firstban').style="display block";
    });

    $('#close_winrate').click(function() {
         $('#close_winrate').hide();
         SelectStats("Winratepercent",10,'stats-hero-winrate');
    });

    $('#close_most_picked').click(function() {
         $('#close_most_picked').hide();
         SelectStats("PercentPick",10,'stats-hero-most_picked');
    });

    $('#close_most_contest').click(function() {
         $('#close_most_contest').hide();
         SelectStats("PercentContest",10,'stats-hero-most_contest');
    });

    $('#close_most_ban').click(function() {
         $('#close_most_ban').hide();
         SelectStats("PercentBanned",10,'stats-hero-most_ban');
    });

    $('#close_most_firstpick').click(function() {
         $('#close_most_firstpick').hide();
         SelectStats("PercentFirstPick",0,'stats-hero-most_firstpick');
    });

    $('#close_most_firstban').click(function() {
         $('#close_most_firstban').hide();
         SelectStats("PercentFirstBanned",0,'stats-hero-most_firstban');
    });
   
// })

function SelectStats(op,lm,id) {
    var parameter = {option : op,limit : lm};
        $.ajax({
            data : JSON.stringify(parameter),
            url : "http://localhost:3000/database/getStats",
            contentType : "application/json",
            type : "POST",
            success : (function(res){
                getStats = res;
                CreateTable(res.Stats,id);
            })
        }) 

}

function CreateTable(arrStats,id) {
    stats_table = "" ;
        getStats = arrStats;
        for(var i = 0; i < arrStats.length; i++ ){
            stats_table +="<tr id = \"bt_border\"><td><h4>"+(i+1)+"</h4></td><td><img src=\"/images/hero/"+arrStats[i].HeroName+".jpg\"></td>";
            stats_table +="<td><label id =\"Heroname\">"+arrStats[i].HeroName+"</label>";
            if( i < 5 ){
            stats_table +="<div class=\"bar-wrap\"><span class=\"bar-fill\" style=\"width:"+arrStats[i].Percent+"%;\"></span></div></td>"
                                    +"<td ><label></label><div id =\"percenShow\"><span>"+arrStats[i].Percent+" %</span></div></td></tr>";

            }
            else {
                stats_table +="<div class=\"bar-wrap\"><span class=\"bar-fill2\" style=\"width:"+arrStats[i].Percent+"%;\"></span></div></td>"
                                        +"<td ><label></label><div id =\"percenShow\"><span>"+arrStats[i].Percent+" %</span></div></td></tr>";
            }
        }
                document.getElementById(id).innerHTML = stats_table;
}


</script>
