<script>

$(document).ready(function(){

     var team_table_global = "",team_table_sea = "",team_table_europe = "",team_table_america = "",team_table_china = "";
     var tempTeamTable="",tempSelect=null;
        for(var i = 0; i<getTeamSortRating.TeamSortRating.length; i++) {
            team_table_global +="<tr id=\"team"+getTeamSortRating.TeamSortRating[i].TeamID+"\" onClick=\"SelectTableTeam("+getTeamSortRating.TeamSortRating[i].TeamID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                                +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamSortRating.TeamSortRating[i].Nation+".png\"></label>"
                                +"<label class=\"col-md-7\">"+getTeamSortRating.TeamSortRating[i].TeamName+"</label>"
                                +"<label class=\"col-md-2\">"+getTeamSortRating.TeamSortRating[i].Rating+"</label></td></tr>";
        }

        for(var i= 0; i<getTeamSea.length; i++) {
            team_table_sea +="<tr id=\"team"+getTeamSea[i].TeamID+"\" onClick=\"SelectTableTeam("+getTeamSea[i].TeamID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamSea[i].Nation+".png\"></label>"
                            +"<label class=\"col-md-7\">"+getTeamSea[i].TeamName+"</label>"
                            +"<label class=\"col-md-2\">"+getTeamSea[i].Rating+"</label></td></tr>";
        }
        for(var i= 0; i<getTeamEurope.length; i++) {
             team_table_europe +="<tr id=\"team"+getTeamEurope[i].TeamID+"\" onClick=\"SelectTableTeam("+getTeamEurope[i].TeamID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                                +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamEurope[i].Nation+".png\"></label>"
                                +"<label class=\"col-md-7\">"+getTeamEurope[i].TeamName+"</label>"
                                +"<label class=\"col-md-2\">"+getTeamEurope[i].Rating+"</label></td></tr>";
        }
        for(var i= 0; i<getTeamAmerica.length; i++) {
            team_table_america +="<tr id=\"team"+getTeamAmerica[i].TeamID+"\" onClick=\"SelectTableTeam("+getTeamAmerica[i].TeamID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                    +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamAmerica[i].Nation+".png\"></label>"
                    +"<label class=\"col-md-7\">"+getTeamAmerica[i].TeamName+"</label>"
                    +"<label class=\"col-md-2\">"+getTeamAmerica[i].Rating+"</label></td></tr>";
        }
        for(var i= 0; i<getTeamChina.length; i++) {
            team_table_china +="<tr id=\"team"+getTeamChina[i].TeamID+"\" onClick=\"SelectTableTeam("+getTeamChina[i].TeamID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                              +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamChina[i].Nation+".png\"></label>"
                              +"<label class=\"col-md-7\">"+getTeamChina[i].TeamName+"</label>"
                              +"<label class=\"col-md-2\">"+getTeamChina[i].Rating+"</label></td></tr>"; 
        }
    
    $('#team-global').click(function(){
        $.fn.createTableTeam(team_table_global,this,getTeamSortRating.TeamSortRating[0].TeamID);
    });
    $('#team-sea').click(function() { 
        $.fn.createTableTeam(team_table_sea,this,getTeamSea[0].TeamID);
    });
    $('#team-china').click(function() {
       $.fn.createTableTeam(team_table_china,this,getTeamChina[0].TeamID);
    });
    $('#team-america').click(function() {
       $.fn.createTableTeam(team_table_america,this,getTeamAmerica[0].TeamID);
    });
    $('#team-europe').click(function() {
       $.fn.createTableTeam(team_table_europe,this,getTeamEurope[0].TeamID);
    });

    $.fn.createTableTeam = function(TeamTable,select,topRank) {  
        if(TeamTable!=tempTeamTable){
            document.getElementById('team-table').innerHTML = TeamTable;
            $(".team-menu").hide();
            $(tempSelect).removeClass('select-continent');
            $(select).addClass('select-continent');
            tempTeamTable = TeamTable;  
            tempSelect = select; 
            tempTeam = 0;
            SelectTableTeam(topRank);
        }
    }

    document.getElementById('team-table').innerHTML = team_table_global;
    document.getElementById('team-global').click();
})


var tempTeam = 0;
function SelectTableTeam(TeamID) {
    if(TeamID!=tempTeam){
        $('#team' + tempTeam).removeClass('select-table');
        $('#team' + TeamID).addClass('select-table');
        createCardTeam(TeamID);
        $('.team-menu').hide();
        $('.team-menu').toggle("slow");
        tempTeam = TeamID;
    }
}



</script>