<script>

    $(document).ready(function(){

     var player_table_global = "";
     var player_table_sea = "";
     var player_table_europe = "";
     var player_table_america = "";
     var player_table_china = "";

        for(var i = 0; i<getPlayerSortMMR.PlayerSortMMR.length; i++) {
            player_table_global +="<tr onClick=\"SelectTablePlayer("+getPlayerSortMMR.PlayerSortMMR[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                        +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerSortMMR.PlayerSortMMR[i].Nation+".png\"></label>"
                        +"<label class=\"col-md-7\">"+getPlayerSortMMR.PlayerSortMMR[i].GameName+"</label>"
                        +"<label class=\"col-md-2\">"+getPlayerSortMMR.PlayerSortMMR[i].MMR+"</label></td></tr>";
        }
        for(var i =0; i<getPlayerSea.length; i++) {
            player_table_sea +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerSea[i].PlayerID+")\">"+getPlayerSea[i].GameName+"</a></td></tr>";
        }
        for(var i=0; i<getPlayerEurope.length; i++) {
            player_table_europe +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerEurope[i].PlayerID+")\">"+getPlayerEurope[i].GameName+"</a></td></tr>";
        }
        for(var i=0; i<getPlayerAmerica.length; i++) {
            player_table_america +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerAmerica[i].PlayerID+")\">"+getPlayerAmerica[i].GameName+"</a></td></tr>";
        }
        for(var i=0; i<getPlayerChina.length; i++) {
            player_table_china +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerChina[i].PlayerID+")\">"+getPlayerChina[i].GameName+"</a></td></tr>";
        }


    $('#player-global').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_global;
        $(".team-menu").hide();
    });
    $('#player-sea').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_sea;
        $(".player-menu").hide();
    });
    $('#player-china').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_china;
        $(".player-menu").hide();
    });
    $('#player-america').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_america;
        $(".player-menu").hide();
    });
    $('#player-europe').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_europe;
        $(".player-menu").hide();
    });

    document.getElementById('player-table').innerHTML = player_table_global;
    document.getElementById('player-global').click();

})

var tempPlayer = 0;

function SelectTablePlayer(PlayerID){
    if(PlayerID!=tempPlayer){
        createCardPlayer(PlayerID);
        $('.player-menu').hide();
        $('.player-menu').toggle("slide");
        tempPlayer = PlayerID;
    }else{
        $('.player-menu').toggle("slide");
    }
}

</script>