<script>

    $(document).ready(function(){

     var player_table_global = "";
     var player_table_sea = "";
     var player_table_europe = "";
     var player_table_america = "";
     var player_table_china = "";
     var tempPlayerTable="",tempSelectP = null ;

        for(var i = 0; i<getPlayerSortMMR.PlayerSortMMR.length; i++) {
            player_table_global +="<tr id=\"player"+getPlayerSortMMR.PlayerSortMMR[i].PlayerID+"\" onClick=\"SelectTablePlayer("+getPlayerSortMMR.PlayerSortMMR[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
                        +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerSortMMR.PlayerSortMMR[i].Nation+".png\"></label>"
                        +"<label class=\"col-md-7\">"+getPlayerSortMMR.PlayerSortMMR[i].GameName+"</label>"
                        +"<label class=\"col-md-2\">"+getPlayerSortMMR.PlayerSortMMR[i].MMR+"</label></td></tr>";
        }
        for(var i =0; i<getPlayerSea.length; i++) {
          player_table_sea  +="<tr id=\"player"+getPlayerSea[i].PlayerID+"\" onClick=\"SelectTablePlayer("+getPlayerSea[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerSea[i].Nation+".png\"></label>"
            +"<label class=\"col-md-7\">"+getPlayerSea[i].GameName+"</label>"
            +"<label class=\"col-md-2\">"+getPlayerSea[i].MMR+"</label></td></tr>";
        }
        for(var i=0; i<getPlayerEurope.length; i++) {
          player_table_europe +="<tr id=\"player"+getPlayerEurope[i].PlayerID+"\" onClick=\"SelectTablePlayer("+getPlayerEurope[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerEurope[i].Nation+".png\"></label>"
            +"<label class=\"col-md-7\">"+getPlayerEurope[i].GameName+"</label>"
            +"<label class=\"col-md-2\">"+getPlayerEurope[i].MMR+"</label></td></tr>";
        }
        for(var i=0; i<getPlayerAmerica.length; i++) {
          player_table_america  +="<tr id=\"player"+getPlayerAmerica[i].PlayerID+"\" onClick=\"SelectTablePlayer("+getPlayerAmerica[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerAmerica[i].Nation+".png\"></label>"
            +"<label class=\"col-md-7\">"+getPlayerAmerica[i].GameName+"</label>"
            +"<label class=\"col-md-2\">"+getPlayerAmerica[i].MMR+"</label></td></tr>";
        }
        for(var i=0; i<getPlayerChina.length; i++) {
          player_table_china  +="<tr id=\"player"+getPlayerChina[i].PlayerID+"\" onClick=\"SelectTablePlayer("+getPlayerChina[i].PlayerID+")\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getPlayerChina[i].Nation+".png\"></label>"
            +"<label class=\"col-md-7\">"+getPlayerChina[i].PlayerName+"</label>"
            +"<label class=\"col-md-2\">"+getPlayerChina[i].MMR+"</label></td></tr>";
        }


    $('#player-global').click(function() {
        $.fn.createTablePlayer(player_table_global,this,getPlayerSortMMR.PlayerSortMMR[0].PlayerID);
    });
    $('#player-sea').click(function() {
        $.fn.createTablePlayer(player_table_sea,this,getPlayerSea[0].PlayerID);
    });
    $('#player-china').click(function() {
        $.fn.createTablePlayer(player_table_china,this,getPlayerChina[0].PlayerID);
    });
    $('#player-america').click(function() {
        $.fn.createTablePlayer(player_table_america,this,getPlayerAmerica[0].PlayerID);
    });
    $('#player-europe').click(function() {
       $.fn.createTablePlayer(player_table_europe,this,getPlayerEurope[0].PlayerID);
    });

    $.fn.createTablePlayer = function(PlayerTable,select,topRank) {
        if(PlayerTable!=tempPlayerTable){
            document.getElementById('player-table').innerHTML = PlayerTable;
            $(".player-menu").hide();
            $(tempSelectP).removeClass('select-continent');
            $(select).addClass('select-continent');
            tempPlayerTable = PlayerTable;
            tempSelectP = select;
            tempPlayer = 0
            SelectTablePlayer(topRank);
        }
    }


    document.getElementById('player-table').innerHTML = player_table_global;
    document.getElementById('player-global').click();

})

var tempPlayer = 0;

function SelectTablePlayer(PlayerID){
    if(PlayerID!=tempPlayer){
        $('#player' + tempPlayer).removeClass('select-table');
        $('#player' + PlayerID).addClass('select-table');
        createCardPlayer(PlayerID);
        $('.player-menu').hide();
        $('.player-menu').toggle("slide");
        tempPlayer = PlayerID;
    }
}

</script>
