<script>
    $(document).ready(function(){

     var player_table_global = "";
     var player_table_sea = "";
     var player_table_europe = "";
     var player_table_america = "";
     var player_table_china = "";

        for(var i = 0 ;i<10; i++){
            player_table_global +="<tr><td><a>"+getPlayerSortMMR.PlayerSortMMR[i].TeamName+"</a></td></tr>";
            player_table_sea +="<tr><td><a>"+getTeamSea.TeamSea[i].TeamName+"</a></td></tr>";
            player_table_europe +="<tr><td><a>"+getTeamEurope.TeamEurope[i].TeamName+"</a></td></tr>";
            player_table_america +="<tr><td><a>"+getTeamAmerica.TeamAmerica[i].TeamName+"</a></td></tr>";
            player_table_china +="<tr><td><a>"+getTeamChina.TeamChina[i].TeamName+"</a></td></tr>";
        }


    $('#player-global').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_global;
        $(".team-menu").hide();
    });
    $('#player-sea').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_sea;
        $(".player-menu").hide();
    });
    $('#team-china').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_china;
        $(".player-menu").hide();
    });
    $('#player-america').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_america;
        $(".player-menu").hide();
    });
    $('#player-europe').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_europe;
        $(".player-menu").hide();
    });
    $('#player-table').click(function() {
        $('.player-menu').toggle("slide");
        // $('.player-menu').load("/team_card");
    });
    })
</script>