<script>

$(document).ready(function(){

     var team_table_global = "";
     var team_table_sea = "";
     var team_table_europe = "";
     var team_table_america = "";
     var team_table_china = "";

        for(var i = 0; i<getTeamSortRating.TeamSortRating.length; i++) {
            team_table_global +="<tr><td><a onClick=\"SelectTableTeam("+getTeamSortRating.TeamSortRating[i].TeamID+")\"><label class=\"col-md-1\">"+(i+1)+"</label>"
                                +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamSortRating.TeamSortRating[i].Nation+".png\" style=\"width:17px;height:15px;\"></label>"
                                +"<label class=\"col-md-7\">"+getTeamSortRating.TeamSortRating[i].TeamName+"</label>"
                                +"<label class=\"col-md-2\">"+getTeamSortRating.TeamSortRating[i].Rating+"</label></a></td></tr>";
        }

        for(var i= 0; i<getTeamSea.TeamSea.length; i++) {
            team_table_sea +="<tr><td><a onClick=\"SelectTableTeam("+getTeamSea.TeamSea[i].TeamID+")\"><label class=\"col-md-1\">"+(i+1)+"</label>"
                            +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamSea.TeamSea[i].Nation+".png\" style=\"width:17px;height:15px;\"></label>"
                            +"<label class=\"col-md-7\">"+getTeamSea.TeamSea[i].TeamName+"</label>"
                            +"<label class=\"col-md-2\">"+getTeamSea.TeamSea[i].Rating+"</label></a></td></tr>";
            
            team_table_europe +="<tr><td><a onClick=\"SelectTableTeam("+getTeamEurope.TeamEurope[i].TeamID+")\"><label class=\"col-md-1\">"+(i+1)+"</label>"
                                +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamEurope.TeamEurope[i].Nation+".png\" style=\"width:17px;height:15px;\"></label>"
                                +"<label class=\"col-md-7\">"+getTeamEurope.TeamEurope[i].TeamName+"</label>"
                                +"<label class=\"col-md-2\">"+getTeamEurope.TeamEurope[i].Rating+"</label></a></td></tr>";
            
            team_table_america +="<tr><td><a onClick=\"SelectTableTeam("+getTeamAmerica.TeamAmerica[i].TeamID+")\"><label class=\"col-md-1\">"+(i+1)+"</label>"
                                +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamAmerica.TeamAmerica[i].Nation+".png\" style=\"width:17px;height:15px;\"></label>"
                                +"<label class=\"col-md-7\">"+getTeamAmerica.TeamAmerica[i].TeamName+"</label>"
                                +"<label class=\"col-md-2\">"+getTeamAmerica.TeamAmerica[i].Rating+"</label></a></td></tr>";
            
            team_table_china +="<tr><td><a onClick=\"SelectTableTeam("+getTeamChina.TeamChina[i].TeamID+")\"><label class=\"col-md-1\">"+(i+1)+"</label>"
                              +"<label class=\"col-md-2\"><img src=\"/images/national/"+getTeamChina.TeamChina[i].Nation+".png\" style=\"width:17px;height:15px;\"></label>"
                              +"<label class=\"col-md-7\">"+getTeamChina.TeamChina[i].TeamName+"</label>"
                              +"<label class=\"col-md-2\">"+getTeamChina.TeamChina[i].Rating+"</label></a></td></tr>";   
        }

       
    $('#team-global').click(function() {
        document.getElementById('team-table').innerHTML = team_table_global;
        $(".team-menu").hide();
    });
    $('#team-sea').click(function() { 
        document.getElementById('team-table').innerHTML = team_table_sea;
        $(".team-menu").hide();
    });
    $('#team-china').click(function() { 
        document.getElementById('team-table').innerHTML = team_table_china;
        $(".team-menu").hide();
    });
    $('#team-america').click(function() { 
        document.getElementById('team-table').innerHTML = team_table_america;
        $(".team-menu").hide();
    });
    $('#team-europe').click(function() { 
        document.getElementById('team-table').innerHTML = team_table_europe;
        $(".team-menu").hide();
    });

})
var tempTeam = 0;
function SelectTableTeam(TeamID){
    if(TeamID!=tempTeam){
        createCardTeam(TeamID);
        $('.team-menu').hide();
        $('.team-menu').toggle("slow");
        tempTeam = TeamID;
    }else{
        $('.team-menu').toggle( "slow");
    }
}

</script>