<script>

$(document).ready(function(){
    var stats_table_winrate_max = "",stats_table_winrate_min = "";
    var stats_table_pick = "";
    var stats_table_ban = "";
    var stats_table_contest = "";
    var stats_table_fpick = "";
    var stats_table_fban = "";

    for(var i = 0 ;i<10; i++) {
        stats_table_winrate_min +="<tr><td><h4>"+(i+1)+"</h4></td><td><img src=\"/images/hero/"+getStatsWin.StatsWin[i].HeroName+".jpg\"></td>";
        stats_table_winrate_min +="<td><label>"+getStatsWin.StatsWin[i].HeroName+"</label>";
        stats_table_winrate_min +="<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsWin.StatsWin[i].Winratepercent+"%;\"><span>"+getStatsWin.StatsWin[i].Winratepercent+"%</span></div></div></tr>";
    }
   
    for(var i = 0 ;i< getStatsWin.StatsWin.length; i++){
        stats_table_winrate_max +="<tr><td><h4>"+(i+1)+"</h4></td><td><img src=\"/images/hero/"+getStatsWin.StatsWin[i].HeroName+".jpg\"></td>";
        stats_table_winrate_max +="<td><h4>"+getStatsWin.StatsWin[i].HeroName+"</h4>";
        stats_table_winrate_max +="<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsWin.StatsWin[i].Winratepercent+"%;\"><span>"+getStatsWin.StatsWin[i].Winratepercent+"%</span></div></div></tr>";

        stats_table_pick +="<tr><td><img src=\"/images/hero/"+getStatsPick.StatsPick[i].HeroName+".jpg\"></td>";
        stats_table_pick +="<td><h4>"+getStatsPick.StatsPick[i].HeroName+"</h4>";
        stats_table_pick += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsPick.StatsPick[i].PercentPick+"%;\"><span>"+getStatsPick.StatsPick[i].PercentPick+"%</span></div></div></tr>";

        stats_table_ban +="<tr><td><img src=\"/images/hero/"+getStatsBanned.StatsBanned[i].HeroName+".jpg\"></td>";
        stats_table_ban +="<td><h4>"+getStatsBanned.StatsBanned[i].HeroName+"</h4>";
        stats_table_ban += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsBanned.StatsBanned[i].PercentBanned+"%;\"><span>"+getStatsBanned.StatsBanned[i].PercentBanned+"%</span></div></div>";

        stats_table_contest +="<tr><td><img src=\"/images/hero/"+getStatsContest.StatsContest[i].HeroName+".jpg\"></td>";
        stats_table_contest +="<td><h4>"+getStatsContest.StatsContest[i].HeroName+"</h4>";
        stats_table_contest += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsContest.StatsContest[i].PercentContest+"%;\"><span>"+getStatsContest.StatsContest[i].PercentContest+"%</span></div></div>";

        stats_table_fpick +="<tr><td><img src=\"/images/hero/"+getStatsFirstPick.StatsFirstPick[i].HeroName+".jpg\"></td>";
        stats_table_fpick +="<td><h4>"+getStatsFirstPick.StatsFirstPick[i].HeroName+"</h4>";
        stats_table_fpick += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsFirstPick.StatsFirstPick[i].PercentFirstPick+"%;\"><span>"+getStatsFirstPick.StatsFirstPick[i].PercentFirstPick+"%</span></div></div>";

        stats_table_fban +="<tr><td><img src=\"/images/hero/"+getStatsFirstBanned.StatsFirstBanned[i].HeroName+".jpg\"></td>";
        stats_table_fban +="<td><h4>"+getStatsFirstBanned.StatsFirstBanned[i].HeroName+"</h4>";
        stats_table_fban += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsFirstBanned.StatsFirstBanned[i].PercentFirstBanned+"%;\"><span>"+getStatsFirstBanned.StatsFirstBanned[i].PercentFirstBanned+"%</span></div></div>";

    }

    $('#stats-winrate').click(function() {
        document.getElementById('stats-hero-winrate').innerHTML = stats_table_winrate_min;
    });

    $('#stats-pick').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_pick;
    });

    $('#stats-contest').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_contest;
    });

    $('#stats-ban').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_ban;
    });

    $('#stats-fpick').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_fpick;
    });

    $('#stats-fban').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_fban;
    });

    $('#show-all').click(function() {
        $('#close').show();
        document.getElementById('stats-hero-winrate').innerHTML = stats_table_winrate_max;
    });

    $('#close').click(function() {
         $('#close').hide();
         document.getElementById('stats-hero-winrate').innerHTML = stats_table_winrate_min;
    });

    document.getElementById('stats-hero-winrate').innerHTML = stats_table_winrate_min;
    document.getElementById('stats-winrate').click();

})

</script>