<!--<script>

$(document).ready(function(){
    var stats_table_winrate = "";
    var stats_table_pick = "";
    var stats_table_ban = "";
    var stats_table_contest = "";
    var stats_table_fpick = "";
    var stats_table_fban = "";
   
    for(var i = 0 ;i< getStatsWin.StatsWin.length; i++){
        stats_table_winrate +="<tr><td><img src=\"/images/hero/"+getStatsWin.StatsWin[i].HeroName+".jpg\" style=\"width:50px;height:50px;\"></td>";
        stats_table_winrate +="<td><h4>"+getStatsWin.StatsWin[i].HeroName+"</h4>";
        stats_table_winrate +="<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsWin.StatsWin[i].Winratepercent+"%;\"></div></div>";
        stats_table_winrate +="<td><h4>"+getStatsWin.StatsWin[i].Winratepercent+"</h4></td></tr>";

        stats_table_pick +="<tr><td><img src=\"/images/hero/"+getStatsPick.StatsPick[i].HeroName+".jpg\" style=\"width:40px;height:40px;\"></td>";
        stats_table_pick +="<td><h4>"+getStatsPick.StatsPick[i].HeroName+"</h4>";
        stats_table_pick += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsPick.StatsPick[i].PercentPick+"%;\"></div></div>";
        stats_table_pick +="<td><h4>"+getStatsPick.StatsPick[i].PercentPick+"</h4></td></tr>";

        stats_table_ban +="<tr><td><img src=\"/images/hero/"+getStatsBanned.StatsBanned[i].HeroName+".jpg\" style=\"width:40px;height:40px;\"></td>";
        stats_table_ban +="<td><h4>"+getStatsBanned.StatsBanned[i].HeroName+"</h4>";
        stats_table_ban += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsBanned.StatsBanned[i].PercentBanned+"%;\"></div></div>";
        stats_table_ban +="<td><h4>"+getStatsBanned.StatsBanned[i].PercentBanned+"</h4></td></tr>";

        stats_table_contest +="<tr><td><img src=\"/images/hero/"+getStatsContest.StatsContest[i].HeroName+".jpg\" style=\"width:40px;height:40px;\"></td>";
        stats_table_contest +="<td><h4>"+getStatsContest.StatsContest[i].HeroName+"</h4>";
        stats_table_contest += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsContest.StatsContest[i].PercentContest+"%;\"></div></div>";
        stats_table_contest +="<td><h4>"+getStatsContest.StatsContest[i].PercentContest+"</h4></td></tr>";

        stats_table_fpick +="<tr><td><img src=\"/images/hero/"+getStatsFirstPick.StatsFirstPick[i].HeroName+".jpg\" style=\"width:40px;height:40px;\"></td>";
        stats_table_fpick +="<td><h4>"+getStatsFirstPick.StatsFirstPick[i].HeroName+"</h4>";
        stats_table_fpick += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsFirstPick.StatsFirstPick[i].PercentFirstPick+"%;\"></div></div>";
        stats_table_fpick +="<td><h4>"+getStatsFirstPick.StatsFirstPick[i].PercentFirstPick+"</h4></td></tr>";

        stats_table_fban +="<tr><td><img src=\"/images/hero/"+getStatsFirstBanned.StatsFirstBanned[i].HeroName+".jpg\" style=\"width:40px;height:40px;\"></td>";
        stats_table_fban +="<td><h4>"+getStatsFirstBanned.StatsFirstBanned[i].HeroName+"</h4>";
        stats_table_fban += "<div class=\"progress\" style=\"width:200px;\">"
                            +"<div class=\"progress-bar progress-bar-danger progress-bar-striped active\"" 
                            +"aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:"+getStatsFirstBanned.StatsFirstBanned[i].PercentFirstBanned+"%;\"></div></div>";
        stats_table_fban +="<td><h4>"+getStatsFirstBanned.StatsFirstBanned[i].PercentFirstBanned+"</h4></td></tr>";

    }

    $('#stats-winrate').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_winrate;
    });

    $('#stats-pick').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_pick;
    });

    $('#stats-contest').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_contest;
    });

    $('#stats-ban').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_ban;
    });

    $('#stats-fpick').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_fpick;
    });

    $('#stats-fban').click(function() {
        document.getElementById('stats-hero').innerHTML = stats_table_fban;
    });

    document.getElementById('stats-winrate').click();

})

</script>-->