<script>

$(document).ready(function(){

     var table_Tournament_Ti6 = "",table_Tournament_Manilla = "",table_Tournament_Boston = "",table_Tournament_Kiev = "";
     var tempTourTable="",tempSelect=null;

     for(var i = 0; i<getBoston.Boston.length; i++) {
         table_Tournament_Boston +=
        "<tr id=\"team"+getBoston.Boston[i].BostonTeamId+"\" ><td><label class=\"col-md-1\">"+(i+1)+"</label>"
        +"<label class=\"col-md-2\"><img src=\"/images/team/"+getBoston.Boston[i].TeamsubName+".png\" style=width:30px;height:30px;></label>"
        +"<label class=\"col-md-7\">"+getBoston.Boston[i].TeamName+"</label>"
        +"<label class=\"col-md-2\">"+"$"+getBoston.Boston[i].BostonEarning+"</label></td></tr>";
     }

     for(var i = 0; i<getTi6.Ti6.length; i++) {
        table_Tournament_Ti6  +=
        "<tr id=\"team"+getTi6.Ti6[i].Ti6TeamId+"\" ><td><label class=\"col-md-1\">"+(i+1)+"</label>"
        +"<label class=\"col-md-2\"><img src=\"/images/team/"+getTi6.Ti6[i].TeamsubName+".png\" style=width:30px;height:30px;></label>"
        +"<label class=\"col-md-7\">"+getTi6.Ti6[i].TeamName+"</label>"
        +"<label class=\"col-md-2\">"+"$"+getTi6.Ti6[i].Ti6Earning+"</label></td></tr>";
     }
     for(var i = 0; i<getKiev.Kiev.length; i++) {
        table_Tournament_Kiev  +=
        "<tr id=\"team"+getKiev.Kiev[i].KievTeamId+"\" ><td><label class=\"col-md-1\">"+(i+1)+"</label>"
        +"<label class=\"col-md-2\"><img src=\"/images/team/"+getKiev.Kiev[i].TeamsubName+".png\" style=width:30px;height:30px;></label>"
        +"<label class=\"col-md-7\">"+getKiev.Kiev[i].TeamName+"</label>"
        +"<label class=\"col-md-2\">"+"$"+getKiev.Kiev[i].KievEarning+"</label></td></tr>";
     }
     for(var i = 0; i<getManilla.Manilla.length; i++) {
        table_Tournament_Manilla  +=
        "<tr id=\"team"+getManilla.Manilla[i].ManillaTeamId+"\"><td><label class=\"col-md-1\">"+(i+1)+"</label>"
        +"<label class=\"col-md-2\"><img src=\"/images/team/"+getManilla.Manilla[i].TeamsubName+".png\" style=width:30px;height:30px;></label>"
        +"<label class=\"col-md-7\">"+getManilla.Manilla[i].TeamName+"</label>"
        +"<label class=\"col-md-2\">"+"$"+getManilla.Manilla[i].ManillaEarning+"</label></td></tr>";
     }


    $('#select-tour').change(function(){
        if($('#select-tour').val() == 'TI6') {
            $.fn.createTableTour(table_Tournament_Ti6);
        }else if($('#select-tour').val() == 'Manilla') {
            $.fn.createTableTour(table_Tournament_Manilla);
        }else if($('#select-tour').val() == 'Kiev') {
            $.fn.createTableTour(table_Tournament_Kiev);
        }else if($('#select-tour').val() == 'Boston') {
            $.fn.createTableTour(table_Tournament_Boston);
        }
        
    });


     $.fn.createTableTour = function(TourTable) {
         if(TourTable!=tempTourTable){
             document.getElementById('Tournament-table').innerHTML = TourTable;
         }
     }
     document.getElementById('Tournament-table').innerHTML = table_Tournament_Ti6 ;

})




</script>
