<!--<script>

    $(document).ready(function(){

     var player_table_global = "";
     var player_table_sea = "";
     var player_table_europe = "";
     var player_table_america = "";
     var player_table_china = "";

        for(var i = 0 ;i<10; i++){
            player_table_global +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerSortMMR.PlayerSortMMR[i].PlayerID+")\">"+getPlayerSortMMR.PlayerSortMMR[i].GameName+"</a></td></tr>";
            player_table_sea +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerSea.PlayerSea[i].PlayerID+")\">"+getPlayerSea.PlayerSea[i].GameName+"</a></td></tr>";
            player_table_europe +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerEurope.PlayerEurope[i].PlayerID+")\">"+getPlayerEurope.PlayerEurope[i].GameName+"</a></td></tr>";
            player_table_america +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerAmerica.PlayerAmerica[i].PlayerID+")\">"+getPlayerAmerica.PlayerAmerica[i].GameName+"</a></td></tr>";
            player_table_china +="<tr><td><a onClick=\"SelectTablePlayer("+getPlayerChina.PlayerChina[i].PlayerID+")\">"+getPlayerChina.PlayerChina[i].GameName+"</a></td></tr>";
        }


    $('#player-global').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_global;
        $(".team-menu").hide();
    });
    $('#player-sea').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_sea;
        $(".player-menu").hide();
    });
    $('#player-china').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_china;
        $(".player-menu").hide();
    });
    $('#player-america').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_america;
        $(".player-menu").hide();
    });
    $('#player-europe').click(function() { 
        document.getElementById('player-table').innerHTML = player_table_europe;
        $(".player-menu").hide();
    });

    document.getElementById('player-global').click();

})

var tempPlayer = 0;

function SelectTablePlayer(PlayerID){
    if(PlayerID!=tempPlayer){
        createCardPlayer(PlayerID);
        $('.player-menu').hide();
        $('.player-menu').toggle("slide");
        tempPlayer = PlayerID;
    }else{
        $('.player-menu').toggle("slide");
    }
}

</script>-->