<div ><h1>PLAYER RANKING</h1></div>
<div>
    <a id="player-global">=Global=  </a>
    <a id="player-china">=China=  </a>
    <a id="player-sea">=Sea & Oceania=  </a>
    <a id="player-europe">=Europe & CIS=  </a>
    <a id="player-america">=Americas=</a>
</div>
<div class="row">
    <div id="player-rank" class="col-xs-5">
        <table id="player-table"></table>
    </div>
    <div class="col-xs-7">
        <div class="player-menu" style="display: none;">
            <% include ../player-card/player-card.ejs %>
        </div>
    </div>
</div> 
