<div class="head-team-rank"><h1>TEAM RANKING</h1></div>
<div>
    <a id="team-global">=Global=  </a>
    <a id="team-china">=China=  </a>
    <a id="team-sea">=Sea & Oceania=  </a>
    <a id="team-europe">=Europe & CIS=  </a>
    <a id="team-america">=Americas=</a>
</div>
<div class="body-team-rank">
    <div id="team-rank" class="col-xs-5">
        <div class="scroll">
            <table id="team-table" class="table table-bordered">
            </table>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="team-menu" style="display: none;">
            <% include ../team-card/team-card.ejs %>
        </div>
    </div>
</div> 
