<!-- <div class="head-team-rank"><h1>TEAM RANKING</h1></div>
<div>
    <a id="team-global">=Global=  </a>
    <a id="team-china">=China=  </a>
    <a id="team-sea">=Sea & Oceania=  </a>
    <a id="team-europe">=Europe & CIS=  </a>
    <a id="team-america">=Americas=</a>
</div> -->


<nav >
    <div class="navbar-header">
      <a class ="nav-faceless-logo navbar-brand" href="#myPage">TEAM RANKING</a>
    </div>
    <div class="collapse navbar-collapse nav-menu" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="team-global">Global</a></li>
        <li>  <a id="team-china">China</a></li>
        <li><a id="team-sea">Sea & Oceania</a></li>
        <li><a id="team-europe">Europe & CIS</a></li>
          <li>  <a id="team-america">Americas</a></li>
      </ul>
    </div>
</nav>
<div class="body-team-rank">
    <div id="team-rank" class="col-xs-5">
        <div class="team-scroll" >
            <table id="team-table" class="table table-bordered">
            </table>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="team-menu" style="display: none;">
            <% include ../team-card/team-card.ejs %>
        </div>
    </div>
</div>
