




<form id="search-form-team" class="search" action="">
  <input id="search-input-team" type="search" placeholder="Search here..." required>
  <button  id="search-button-team" type="submit">Search</button>
</form>

<form id="search-form-player" class="search" action="">
  <input id="search-input-player" type="search" placeholder="Search here..." required>
  <button  id = "search-button-player"  type="submit">Search</button>
</form>

<form class="search-select">

    <label class="radio-inline">

      <input id="select-team" type="radio" name="optradio">
    </label>

    <label class="radio-inline">

      <input id="select-player" type="radio" name="optradio">
    </label>
</form>


<div id="search-bar" class="search-bar">
    <input type="text" />
    <div id="close" class="toggle"></div>
</div>

<div id="search-bar" class="search-bar" style="display=none;">
    <input type="text" />
    <div id="close" class="toggle"></div>
</div>
