<div ><h1>Hero Stats</h1></div>
<div>
    <a id="stats-winrate">=Highest winrate=  </a>
    <a id="stats-pick">=Most picked=  </a>
    <a id="stats-contest">=Most contested=  </a>
    <a id="stats-ban">=Most banned=  </a>
    <a id="stats-fpick">=Most first picked= </a>
    <a id="stats-fban">=Most banned in first ban phase=</a>
</div>
<div class="row">
      <table id ="stats-hero"></table>
</div> 

