<div ><h1>TEAM RANKING</h1></div>
<% include landing_continent.ejs %>
<div class="row">
    <div id="team-rank" class="col-xs-5">
        <table id="team-table"></table>
    </div>
    <div class="col-xs-7">
        <div class="team-menu" style="display: none;">
        </div>
    </div>
</div> 
