<div ><h1>TEAM RANKING</h1></div>
<div>
    <a id="team-global">=Global=  </a>
    <a id="team-china">=China=  </a>
    <a id="team-sea">=Sea & Oceania=  </a>
    <a id="team-europe">=Europe & CIS=  </a>
    <a id="team-america">=Americas=</a>
</div>
<div class="row">
    <div id="team-rank" class="col-xs-5">
        <table id="team-table"></table>
    </div>
    <div class="col-xs-7">
        <div class="team-menu" style="display: none;">
        </div>
    </div>
</div> 
