<nav class="navbar-team head-team-rank">
    <div class="navbar-team-header ">
      <label class ="nav-faceless-logo navbar-brand">PLAYER RANKING</label>
    </div>
    <div class="collapse navbar-collapse nav-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="player-global">Global</a></li>
        <li><a id="player-china">China</a></li>
        <li><a id="player-sea">Sea & Oceania</a></li>
        <li><a id="player-europe">Europe & CIS</a></li>
        <li><a id="player-america">Americas</a></li>
      </ul>
    </div>
</nav>
<div class="body-player-rank">
    <div id="player-rank" class="col-xs-5">
      <div class="player-scroll">
        <table id="player-table" class="table table-bordered"></table>
      </div>
    </div>
    <div class="col-xs-7">
        <div class="player-menu" style="display: none;">
            <% include ../player-card/player-card.ejs %>
        </div>
    </div>
</div>
