<div>
    <a id="team-global">=Global=  </a>
    <a id="team-china">=China=  </a>
    <a id="team-sea">=Sea & Oceania=  </a>
    <a id="team-europe">=Europe & CIS=  </a>
    <a id="team-america">=Americas=</a>
</div>