<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class ="nav-faceless-logo navbar-brand" href="#myPage">FACELESPEDIA</a>
    </div>
    <div class="collapse navbar-collapse nav-menu" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#team-rank">TEAM RANKING</a></li>
        <li><a href="#player-rank">PLAYER RANKING</a></li>
        <li><a href="#stats">STATS</a></li>
        <li class="user"><a href="test"></a></li>
      </ul>
    </div>
</nav>
