<div class="head-stats"><h1>Hero Stats</h1></div>
<div>
    <div class="col-md-4">
        <a id="stats-winrate">=Highest winrate=  </a>
        <button id="close" style="display: none;">X</button>
        <table id ="stats-hero-winrate"></table>
        <button id="show-all">Show All</button>
    </div>
    <a id="stats-pick" class="col-md-4">=Most picked=  </a>
    <a id="stats-contest" class="col-md-4">=Most contested=  </a>
</div>
<div>
    <a id="stats-ban" class="col-md-4">=Most banned=  </a>
    <a id="stats-fpick" class="col-md-4">=Most first picked= </a>
    <a id="stats-fban" class="col-md-4">=Most banned in first ban phase=</a>
</div>



