<div class= "header_stat">
  <h1 align="center">Stat</h1>
</div>

<div class = "clearfix">
  <div class = "column_stat menu">
    <ul>
      <li>Percent win rate</li>
      <li>Most Pick</li>
      <li>Most Contest</li>
      <li>Most Banned</li>
      <li>Most first-picked</li>
      <li>Most banned in first ban phase</li>
    </ul>
  </div>

  <div class ="column_stat content">
    <h1> slide ไป slide มา </h1>
  </div>

</div>
