<!--<form id="search-form-team" class="form-wrapper cf form-inline">
  	<div>
    <h1>asdsda</h1>
  	</div>
    <div>
    <button id="search-button-team" type="button" class="btn ">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    </div>
</form>

<form id="search-form-player" class="form-wrapper cf" style="display:none;">
  	<input id="search-input-player" type="text" placeholder="Search player">
	  <button id = "search-button-player" type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-search"></span>
    </button>
</form>

<form class="search-select">

    <label class="radio-inline">

      <input id="select-team" type="radio" name="optradio">
    </label>

    <label class="radio-inline">

      <input id="select-player" type="radio" name="optradio">
    </label>
</form>-->
<form id="search-form-team" class="form-wrapper cf">
    <input id="search-input-team" type="text" placeholder="Search team">
	  <button id = "search-button" type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-search"></span>
    </button>
</form>
<form class="search-select">

    <label class="radio-inline">

      <input id="select-team" type="radio" name="optradio">
    </label>

    <label class="radio-inline">

      <input id="select-player" type="radio" name="optradio">
    </label>
</form>