<div>
  <div class = "row">
    <div class="col-xs-4 col-sm-4" align="center">
        <h3 id="stats-winrate"> Highest winrate  </h3>
        <button class="w3-btn w3-red" id="close_winrate"  style="display: none; " ><h2>X</h2></button>
        <table id ="stats-hero-winrate"></table>
        <button class="w3-btn w3-red" id="show-all_winrate" >Show All</button>
    </div>

    <div class="col-xs-4 col-sm-4" align="center">
      <h3 id="stats-pick" > Most picked  </h3>
    <button class="w3-btn w3-red" id="close_most_picked"  style="display: none " ><h2>X</h2></button>
      <table id ="stats-hero-most_picked"></table>
      <button class="w3-btn w3-red" id="show-all_most_picked" style="margin-top:15px;">Show All</button>
    </div>

    <div class="col-xs-4 col-sm-4" align="center">
      <h3 id="stats-contest" > Most contested  </h3>
      <button class="w3-btn w3-red" id="close_most_contest"  style="display: none" ><h2>X</h2></button>
      <table id ="stats-hero-most_contest"></table>
      <button class="w3-btn w3-red" id="show-all_most_contest" style="margin-top:15px;">Show All</button>
    </div>

  </div>
</div>
<div>
  <div class = "row">
    <div class="col-xs-4 col-sm-4" align="center">
      <h3 id="stats-ban" > Most banned  </h3>
  <button class="w3-btn w3-red" id="close_most_ban"  style="display: none" ><h2>X</h2></button>
      <table id ="stats-hero-most_ban"></table>
      <button class="w3-btn w3-red" id="show-all_most_ban"style="margin-top:15px;">Show All</button>
    </div>

    <div  class="col-xs-4 col-sm-4" align="center">
      <h3 id="stats-fpick"> Most first picked </h3>
<button class="w3-btn w3-red" id="close_most_firstpick"  style="display: none" ><h2>X</h2></button>
      <table id ="stats-hero-most_firstpick"></table>
      <button class="w3-btn w3-red" id="show-all_most_firstpick"style="margin-top:15px;">Show All</button>
    </div>
    <div class="col-xs-4 col-sm-4" align="center">
      <h3 id="stats-fban" > Most banned in first ban phase </h3>
<button class="w3-btn w3-red" id="close_most_firstban"  style="display: none" ><h2>X</h2></button>
      <table id ="stats-hero-most_firstban"></table>
      <button class="w3-btn w3-red" id="show-all_most_firstban"style="margin-top:15px;">Show All</button>
    </div>
  </div>
</div>
