<!--<div class= "header_stat">
  <h1 align="center">Stat</h1>
</div>

<div class = "clearfix">
  <div class = "column_stat menu">
    <ul>
      <li id = "tab1">Percent win rate</li>
      <li id = "tab2">Most Pick</li>
      <li id = "tab3">Most Contest</li>
      <li id = "tab4">Most Banned</li>
      <li id = "tab5">Most first-picked</li>
      <li id = "tab6">Most banned in first ban phase</li>
    </ul>
  </div>

  <div class ="column_stat content">
    <h1> slide ไป slide มา </h1>
  </div>

</div>-->

<div ><h1>Hero Stats</h1></div>
<div>
    <a id="stats-winrate">=Highest winrate=  </a>
    <a id="stats-pick">=Most picked=  </a>
    <a id="stats-contest">=Most contested=  </a>
    <a id="stats-ban">=Most banned=  </a>
    <a id="stats-fpick">=Most first picked= </a>
    <a id="stats-fban">=Most banned in first ban phase=</a>
</div>
<div class="row">
      <table id ="stats-hero"></table>
</div> 

