<div class="head-stats"><h1>Hero Stats</h1></div>
<div>
    <div class="col-md-4">
        <a id="stats-winrate">=Highest winrate=  </a>
        <button id="close_winrate" style="display: none" >X</button>
        <table id ="stats-hero-winrate"></table>
        <button id="show-all_winrate">Show All</button>
    </div>

    <div class="col-md-4">
      <a id="stats-pick" >=Most picked=  </a>
      <button id="close_most_picked" style="display: none;">X</button>
      <table id ="stats-hero-most_picked"></table>
      <button id="show-all_most_picked">Show All</button>
    </div>

    <div class="col-md-4">
      <a id="stats-contest" >=Most contested=  </a>
      <button id="close_most_contest" style="display: none;">X</button>
      <table id ="stats-hero-most_contest"></table>
      <button id="show-all_most_contest">Show All</button>
    </div>

</div>
<div>

    <div class="col-md-4">
      <a id="stats-ban" >=Most banned=  </a>
      <button id="close_most_ban" style="display: none;">X</button>
      <table id ="stats-hero-most_ban"></table>
      <button id="show-all_most_ban">Show All</button>
    </div>

    <div  class="col-md-4">
      <a id="stats-fpick">=Most first picked= </a>
      <button id="close_most_firstpick" style="display: none;">X</button>
      <table id ="stats-hero-most_firstpick"></table>
      <button id="show-all_most_firstpick">Show All</button>
    </div>
    <div class="col-md-4">
      <a id="stats-fban" >=Most banned in first ban phase=</a>
      <button id="close_most_firstban" style="display: none;">X</button>
      <table id ="stats-hero-most_firstban"></table>
      <button id="show-all_most_firstban">Show All</button>
    </div>

</div>
