<div class="media-left media-top">
    <img src="/images/team/og.png" style="width:80px">
</div>
<div class="media-body">
    <h4 id = "media-heading"class="media-heading">OG - Team Overview</h4>
    <p>EUROPE <img src="/images/national/europe.png" style="width:30px"></p>
</div>
<h2>ROSTER</h2>