<div id = "team-card-logo" class="media-left media-top">
</div>
<div class="media-body">
    <h4 id = "team-card-name"></h4>
    <p id = "team-card-nation"></p>
</div>
<div class="media-body">
    <h4>RATING</h4>
</div>