<div class="media-left media-top">
    <img src="/images/team/og.png" style="width:80px">
</div>
<div class="media-body">
    <h4 id = "team-card-name"></h4>
    <p id = "team-card-nation"></p>
</div>
<h2>ROSTER</h2>