<% include ../function/function_team-card.ejs %>
<thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr class="success">
        <td><img src="/images/player/og_notail.jpg" style="width:50px" style="height:50px"></td>
        <td>Johan </td>
        <td>Sundstein</td>
        <td>N0tail</td>
    </tr>
    <tr class="danger">
        <td><img src="/images/player/og_notail.jpg"  style="width:40px" style="height:40px"></td>
        <td>Tal  </td>
        <td>Aizik</td>
        <td>fly</td>
    </tr>
    <tr class="info">
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdApuzMt7e3E4cRJ-IdySO4sNBEX2xpam-poK4fxXDBEfI8aGp" style="width:40px" style="height:40px"></td>
        <td>Tal  </td>
        <td>Aizik</td>
        <td>fly</td>
    </tr>
    <tr class="warning">
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdApuzMt7e3E4cRJ-IdySO4sNBEX2xpam-poK4fxXDBEfI8aGp" style="width:40px" style="height:40px"></td>
        <td>Tal  </td>
        <td>Aizik</td>
        <td>fly</td>
    </tr>
    <tr class="success">
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdApuzMt7e3E4cRJ-IdySO4sNBEX2xpam-poK4fxXDBEfI8aGp" style="width:40px" style="height:40px"></td>
        <td>Tal  </td>
        <td>Aizik</td>
        <td>fly</td>
    </tr>
</tbody>