<div class="container-fluid">
    <% include header.ejs %>
    <div class="margin-top-roster">
      <jj>TEAM ROSTER</jj>
    </div>
    <div class="margin-top-roster margin-left-roster">
    <table id="team-card-data"></table>
  </div>
</div>
