<div id = "player-card-photo" class="media-left media-top">
</div>
<div class="media-body">
    <h4 id = "player-card-game"></h4>
    <h4 id = "player-card-name"></h4>
    <p id = "player-card-nation"></p>
</div>
<div class="media-body">
    <h4>MMR</h4>


    <h4 id="player-card-mmr"></h4>
</div>
