<div class="container-fluid">
  <% include header.ejs %>
  <div class="margin-top-roster">
    <h4>FAVORITE HERO</h4>
  </div>
  <div class="margin-top-roster margin-left-roster">
  <table id="play-card-data"></table>
</div>
</div>
