<div class="container-fluid">
  <% include header.ejs %>
  <div class="margin-top-roster">
    <h4 style="font-size:20px; margin-top:10px;">FAVORITE HERO</h4>
  </div>
  <div class="margin-top-roster margin-left-roster">
    <table id="player-card-data"></table>
  </div>
</div>
